<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Cat1_Card_hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{122,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,114}}</string>
                <key>sourceSize</key>
                <string>{122,114}</string>
            </dict>
            <key>Cat2_Card_hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,3},{122,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,114}}</string>
                <key>sourceSize</key>
                <string>{122,114}</string>
            </dict>
            <key>Cat3_Card_hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,3},{122,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,114}}</string>
                <key>sourceSize</key>
                <string>{122,114}</string>
            </dict>
            <key>Cat4_Card_hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,3},{122,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,114}}</string>
                <key>sourceSize</key>
                <string>{122,114}</string>
            </dict>
            <key>Cat5_Card_hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,119},{122,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,114}}</string>
                <key>sourceSize</key>
                <string>{122,114}</string>
            </dict>
            <key>Cat6_Card_hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,119},{122,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,114}}</string>
                <key>sourceSize</key>
                <string>{122,114}</string>
            </dict>
            <key>Cat7_Card_hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,119},{122,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,114}}</string>
                <key>sourceSize</key>
                <string>{122,114}</string>
            </dict>
            <key>Dog1_Card_hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,119},{122,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,114}}</string>
                <key>sourceSize</key>
                <string>{122,114}</string>
            </dict>
            <key>Dog2_Card_hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,235},{122,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,114}}</string>
                <key>sourceSize</key>
                <string>{122,114}</string>
            </dict>
            <key>Dog3_Card_hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,235},{122,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,114}}</string>
                <key>sourceSize</key>
                <string>{122,114}</string>
            </dict>
            <key>Dog4_Card_hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,235},{122,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,114}}</string>
                <key>sourceSize</key>
                <string>{122,114}</string>
            </dict>
            <key>Dog5_Card_hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,235},{122,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,114}}</string>
                <key>sourceSize</key>
                <string>{122,114}</string>
            </dict>
            <key>Dog6_Card_hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,351},{122,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,114}}</string>
                <key>sourceSize</key>
                <string>{122,114}</string>
            </dict>
            <key>Dog7_Card_hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,351},{122,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,114}}</string>
                <key>sourceSize</key>
                <string>{122,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CardAtLas_hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b226b528313d1352ae3c525cb4d7f8f5$</string>
            <key>textureFileName</key>
            <string>CardAtLas_hd.png</string>
        </dict>
    </dict>
</plist>
