<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Unit</key>
	<array>
		<dict>
			<key>id</key>
			<integer>0</integer>
			<key>name</key>
			<string>Street Cat</string>
			<key>description</key>
			<string>Normal cat that you can see in everyday life.</string>
			<key>hitPoint</key>
			<integer>20</integer>
			<key>attack</key>
			<integer>4</integer>
			<key>attackSpeed</key>
			<integer>2</integer>
			<key>attackRange</key>
			<integer>1</integer>
			<key>speed</key>
			<integer>5</integer>
			<key>spawnRate</key>
			<integer>10</integer>
			<key>cost</key>
			<integer>30</integer>
			<key>skill</key>
			<string>none</string>
			<key>spriteName</key>
			<string>Cat1Atlas</string>
			<key>frameName</key>
			<string>Cat1_Card.png</string>
			<key>animationName</key>
			<string>Cat1AnimateData</string>
			<key>className</key>
			<string>cat1ProcClass</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>name</key>
			<string>Siamese Cat</string>
			<key>description</key>
			<string>Siamese cat is very fast but fragile.</string>
			<key>hitPoint</key>
			<integer>10</integer>
			<key>attack</key>
			<integer>2</integer>
			<key>attackSpeed</key>
			<integer>2</integer>
			<key>attackRange</key>
			<integer>1</integer>
			<key>speed</key>
			<integer>10</integer>
			<key>spawnRate</key>
			<integer>6</integer>
			<key>cost</key>
			<integer>20</integer>
			<key>skill</key>
			<string>none</string>
			<key>spriteName</key>
			<string>Cat1Atlas</string>
			<key>frameName</key>
			<string>Cat2_Card.png</string>
			<key>animationName</key>
			<string>Cat1AnimateData</string>
			<key>className</key>
			<string>cat2ProcClass</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>name</key>
			<string>Fat cat</string>
			<key>description</key>
			<string>He is very tough buy also a scaredy-cat.</string>
			<key>hitPoint</key>
			<integer>30</integer>
			<key>attack</key>
			<integer>2</integer>
			<key>attackSpeed</key>
			<integer>3</integer>
			<key>attackRange</key>
			<integer>1</integer>
			<key>speed</key>
			<integer>3</integer>
			<key>spawnRate</key>
			<integer>7</integer>
			<key>cost</key>
			<integer>40</integer>
			<key>skill</key>
			<string>fluffy</string>
			<key>spriteName</key>
			<string>Cat1Atlas</string>
			<key>frameName</key>
			<string>Cat3_Card.png</string>
			<key>animationName</key>
			<string>Cat1AnimateData</string>
			<key>className</key>
			<string>cat3ProcClass</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>3</integer>
			<key>name</key>
			<string>Ghost cat</string>
			<key>description</key>
			<string>Ghost cat can possess  dog unit.</string>
			<key>hitPoint</key>
			<integer>1</integer>
			<key>attack</key>
			<integer>0</integer>
			<key>attackSpeed</key>
			<integer>3</integer>
			<key>attackRange</key>
			<integer>1</integer>
			<key>speed</key>
			<integer>3</integer>
			<key>spawnRate</key>
			<integer>10</integer>
			<key>cost</key>
			<integer>40</integer>
			<key>skill</key>
			<string>ghost cat</string>
			<key>spriteName</key>
			<string>Cat4Atlas</string>
			<key>frameName</key>
			<string>Cat4_Card.png</string>
			<key>animationName</key>
			<string>Cat4AnimateData</string>
			<key>className</key>
			<string>cat4ProcClass</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>4</integer>
			<key>name</key>
			<string>Throwing Cat</string>
			<key>description</key>
			<string>He can attack enemy from afar.</string>
			<key>hitPoint</key>
			<integer>25</integer>
			<key>attack</key>
			<integer>7</integer>
			<key>attackSpeed</key>
			<integer>2</integer>
			<key>attackRange</key>
			<integer>5</integer>
			<key>speed</key>
			<integer>7</integer>
			<key>spawnRate</key>
			<integer>7</integer>
			<key>cost</key>
			<integer>50</integer>
			<key>skill</key>
			<string>throw</string>
			<key>spriteName</key>
			<string>Cat5Atlas</string>
			<key>frameName</key>
			<string>Cat5_Card.png</string>
			<key>animationName</key>
			<string>Cat1AnimateData</string>
			<key>className</key>
			<string>cat5ProcClass</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5</integer>
			<key>name</key>
			<string>Witch Cat</string>
			<key>description</key>
			<string>Witch Cat reduces nearby enemy units&apos; attack.</string>
			<key>hitPoint</key>
			<integer>20</integer>
			<key>attackSpeed</key>
			<integer>2</integer>
			<key>attack</key>
			<integer>10</integer>
			<key>attackRange</key>
			<integer>1</integer>
			<key>speed</key>
			<integer>5</integer>
			<key>spawnRate</key>
			<integer>15</integer>
			<key>cost</key>
			<integer>65</integer>
			<key>skill</key>
			<string>purr</string>
			<key>spriteName</key>
			<string>Cat6Atlas</string>
			<key>frameName</key>
			<string>Cat6_Card.png</string>
			<key>animationName</key>
			<string>Cat6AnimateData</string>
			<key>className</key>
			<string>cat6ProcClass</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>6</integer>
			<key>name</key>
			<string>Healer Cat</string>
			<key>description</key>
			<string>Healer cat can heal nearby ally units. Healer cat cannot attack.</string>
			<key>hitPoint</key>
			<integer>10</integer>
			<key>attack</key>
			<integer>0</integer>
			<key>attackSpeed</key>
			<integer>2</integer>
			<key>attackRange</key>
			<integer>1</integer>
			<key>speed</key>
			<integer>5</integer>
			<key>spawnRate</key>
			<integer>15</integer>
			<key>cost</key>
			<integer>60</integer>
			<key>skill</key>
			<string>heal</string>
			<key>spriteName</key>
			<string>Cat7Atlas</string>
			<key>frameName</key>
			<string>Cat7_Card.png</string>
			<key>animationName</key>
			<string>Cat1AnimateData</string>
			<key>className</key>
			<string>cat7ProcClass</string>
		</dict>
	</array>
</dict>
</plist>
