<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Unit</key>
	<array>
		<dict>
			<key>id</key>
			<integer>10</integer>
			<key>name</key>
			<string>Street Dog</string>
			<key>description</key>
			<string>Normal dog in everyday life.</string>
			<key>hitPoint</key>
			<integer>25</integer>
			<key>attack</key>
			<integer>4</integer>
			<key>attackSpeed</key>
			<integer>2</integer>
			<key>attackRange</key>
			<integer>1</integer>
			<key>speed</key>
			<integer>3</integer>
			<key>spawnRate</key>
			<integer>8</integer>
			<key>cost</key>
			<integer>35</integer>
			<key>skill</key>
			<string>none</string>
			<key>spriteName</key>
			<string>Dog1Atlas</string>
			<key>frameName</key>
			<string>Dog1_Card.png</string>
			<key>animationName</key>
			<string>Dog1AnimateData</string>
			<key>className</key>
			<string>dog1ProcClass</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>11</integer>
			<key>name</key>
			<string>Chihuahua</string>
			<key>description</key>
			<string>He is a very fast dog.</string>
			<key>hitPoint</key>
			<integer>11</integer>
			<key>attack</key>
			<integer>3</integer>
			<key>attackSpeed</key>
			<integer>3</integer>
			<key>attackRange</key>
			<integer>1</integer>
			<key>speed</key>
			<integer>7</integer>
			<key>spawnRate</key>
			<integer>5</integer>
			<key>cost</key>
			<integer>25</integer>
			<key>skill</key>
			<string>none</string>
			<key>spriteName</key>
			<string>Dog2Atlas</string>
			<key>frameName</key>
			<string>Dog2_Card.png</string>
			<key>animationName</key>
			<string>Dog2AnimateData</string>
			<key>className</key>
			<string>dog2ProcClass</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>12</integer>
			<key>name</key>
			<string>Big Bad Dog</string>
			<key>description</key>
			<string>Strong dog unit. He can attack multiple units at once.</string>
			<key>hitPoint</key>
			<integer>30</integer>
			<key>attack</key>
			<integer>7</integer>
			<key>attackSpeed</key>
			<integer>3</integer>
			<key>attackRange</key>
			<integer>1</integer>
			<key>speed</key>
			<integer>3</integer>
			<key>spawnRate</key>
			<integer>10</integer>
			<key>cost</key>
			<integer>45</integer>
			<key>skill</key>
			<string>splash</string>
			<key>spriteName</key>
			<string>Dog1Atlas</string>
			<key>frameName</key>
			<string>Dog3_Card.png</string>
			<key>animationName</key>
			<string>Dog1AnimateData</string>
			<key>className</key>
			<string>dog3ProcClass</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>13</integer>
			<key>name</key>
			<string>Ghost Dog</string>
			<key>description</key>
			<string>Ghost dog can scare cat units.</string>
			<key>hitPoint</key>
			<integer>1</integer>
			<key>attack</key>
			<integer>0</integer>
			<key>attackSpeed</key>
			<integer>1</integer>
			<key>attackRange</key>
			<integer>1</integer>
			<key>speed</key>
			<integer>3</integer>
			<key>spawnRate</key>
			<integer>15</integer>
			<key>cost</key>
			<integer>50</integer>
			<key>skill</key>
			<string>ghost dog</string>
			<key>spriteName</key>
			<string>Dog1Atlas</string>
			<key>frameName</key>
			<string>Dog4_Card.png</string>
			<key>animationName</key>
			<string>Dog1AnimateData</string>
			<key>className</key>
			<string>dog4ProcClass</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>14</integer>
			<key>name</key>
			<string>Stupid dog</string>
			<key>description</key>
			<string>He seems to know nothing.. (has no effect from ghost)</string>
			<key>hitPoint</key>
			<integer>25</integer>
			<key>attack</key>
			<integer>1</integer>
			<key>attackSpeed</key>
			<integer>2</integer>
			<key>attackRange</key>
			<integer>1</integer>
			<key>speed</key>
			<integer>5</integer>
			<key>spawnRate</key>
			<integer>15</integer>
			<key>cost</key>
			<integer>25</integer>
			<key>skill</key>
			<string>stupid</string>
			<key>spriteName</key>
			<string>Dog1Atlas</string>
			<key>frameName</key>
			<string>Dog5_Card.png</string>
			<key>animationName</key>
			<string>Dog1AnimateData</string>
			<key>className</key>
			<string>dog5ProcClass</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>15</integer>
			<key>name</key>
			<string>Puddle</string>
			<key>description</key>
			<string>Puddle is smart. He can summon lesser dogs to fight for him.</string>
			<key>hitPoint</key>
			<integer>15</integer>
			<key>attack</key>
			<integer>3</integer>
			<key>attackSpeed</key>
			<integer>4</integer>
			<key>attackRange</key>
			<integer>1</integer>
			<key>speed</key>
			<integer>3</integer>
			<key>spawnRate</key>
			<integer>20</integer>
			<key>cost</key>
			<integer>55</integer>
			<key>skill</key>
			<string>summon</string>
			<key>spriteName</key>
			<string>Dog1Atlas</string>
			<key>frameName</key>
			<string>Dog6_Card.png</string>
			<key>animationName</key>
			<string>Dog1AnimateData</string>
			<key>className</key>
			<string>dog6ProcClass</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>16</integer>
			<key>name</key>
			<string>Siberian Husky</string>
			<key>description</key>
			<string>Husky is an alpha dog. He can encourage other dog in a fight.</string>
			<key>hitPoint</key>
			<integer>30</integer>
			<key>attack</key>
			<integer>10</integer>
			<key>attackSpeed</key>
			<integer>2</integer>
			<key>attackRange</key>
			<integer>1</integer>
			<key>speed</key>
			<integer>5</integer>
			<key>spawnRate</key>
			<integer>25</integer>
			<key>cost</key>
			<integer>70</integer>
			<key>skill</key>
			<string>growl</string>
			<key>spriteName</key>
			<string>Dog1Atlas</string>
			<key>frameName</key>
			<string>Dog7_Card.png</string>
			<key>animationName</key>
			<string>Dog1AnimateData</string>
			<key>className</key>
			<string>dog7ProcClass</string>
		</dict>
	</array>
</dict>
</plist>
