<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>item</key>
	<array>
		<dict>
			<key>id</key>
			<integer>0</integer>
			<key>name</key>
			<string>Throw</string>
			<key>type</key>
			<integer>4</integer>
			<key>description</key>
			<string></string>
			<key>frameName</key>
			<string>ThrowDog.png</string>
			<key>duration</key>
			<integer>0</integer>
			<key>radius</key>
			<integer>0</integer>
			<key>cost</key>
			<integer>5</integer>
			<key>coolDown</key>
			<integer>4</integer>
			<key>modifiers</key>
			<dict>
				<key>hitPoint</key>
				<integer>0</integer>
				<key>attack</key>
				<integer>0</integer>
				<key>attackSpeed</key>
				<integer>0</integer>
				<key>speed</key>
				<integer>0</integer>
				<key>spawnRate</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>name</key>
			<string>Shield</string>
			<key>type</key>
			<integer>0</integer>
			<key>description</key>
			<string>Give everyone in your army a shield for better protection.</string>
			<key>frameName</key>
			<string>Shield.png</string>
			<key>duration</key>
			<integer>10</integer>
			<key>radius</key>
			<integer>0</integer>
			<key>cost</key>
			<integer>5</integer>
			<key>coolDown</key>
			<integer>13</integer>
			<key>modifiers</key>
			<dict>
				<key>hitPoint</key>
				<real>0.3</real>
				<key>attack</key>
				<integer>0</integer>
				<key>attackSpeed</key>
				<integer>0</integer>
				<key>speed</key>
				<integer>0</integer>
				<key>spawnRate</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>name</key>
			<string>Medication</string>
			<key>type</key>
			<integer>0</integer>
			<key>description</key>
			<string>Add HP to all your units.</string>
			<key>frameName</key>
			<string>Medication.png</string>
			<key>duration</key>
			<integer>-1</integer>
			<key>radius</key>
			<integer>0</integer>
			<key>cost</key>
			<integer>5</integer>
			<key>coolDown</key>
			<integer>10</integer>
			<key>modifiers</key>
			<dict>
				<key>hitPoint</key>
				<real>0.5</real>
				<key>attack</key>
				<integer>0</integer>
				<key>attackSpeed</key>
				<integer>0</integer>
				<key>speed</key>
				<integer>0</integer>
				<key>spawnRate</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>3</integer>
			<key>name</key>
			<string>Steroid</string>
			<key>type</key>
			<integer>0</integer>
			<key>description</key>
			<string>Energize your units, make them move and fight faster.</string>
			<key>frameName</key>
			<string>Steroid.png</string>
			<key>duration</key>
			<integer>0</integer>
			<key>radius</key>
			<integer>0</integer>
			<key>cost</key>
			<integer>30</integer>
			<key>coolDown</key>
			<integer>15</integer>
			<key>modifiers</key>
			<dict>
				<key>hitPoint</key>
				<integer>0</integer>
				<key>attack</key>
				<integer>0</integer>
				<key>attackSpeed</key>
				<real>0.5</real>
				<key>speed</key>
				<real>0.4</real>
				<key>spawnRate</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>4</integer>
			<key>name</key>
			<string>Wind</string>
			<key>type</key>
			<integer>1</integer>
			<key>description</key>
			<string>Slow your enemie&apos;s movement.</string>
			<key>frameName</key>
			<string>Wind.png</string>
			<key>duration</key>
			<integer>8</integer>
			<key>radius</key>
			<integer>0</integer>
			<key>cost</key>
			<integer>30</integer>
			<key>coolDown</key>
			<integer>9</integer>
			<key>modifiers</key>
			<dict>
				<key>hitPoint</key>
				<integer>0</integer>
				<key>attack</key>
				<integer>0</integer>
				<key>attackSpeed</key>
				<integer>0</integer>
				<key>speed</key>
				<real>-0.4</real>
				<key>spawnRate</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>5</integer>
			<key>name</key>
			<string>Poison</string>
			<key>type</key>
			<integer>1</integer>
			<key>description</key>
			<string>Decrease your enemies&apos; attack damage and speed.</string>
			<key>frameName</key>
			<string>Poison.png</string>
			<key>duration</key>
			<integer>12</integer>
			<key>radius</key>
			<integer>0</integer>
			<key>cost</key>
			<integer>5</integer>
			<key>coolDown</key>
			<integer>15</integer>
			<key>modifiers</key>
			<dict>
				<key>hitPoint</key>
				<integer>0</integer>
				<key>attack</key>
				<integer>0</integer>
				<key>attackSpeed</key>
				<integer>0</integer>
				<key>speed</key>
				<integer>-1</integer>
				<key>spawnRate</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>6</integer>
			<key>name</key>
			<string>Sleep Potion</string>
			<key>type</key>
			<integer>1</integer>
			<key>description</key>
			<string>Make your enemies sleep and not able to move.</string>
			<key>frameName</key>
			<string>null</string>
			<key>duration</key>
			<integer>7</integer>
			<key>radius</key>
			<integer>0</integer>
			<key>cost</key>
			<integer>5</integer>
			<key>coolDown</key>
			<integer>20</integer>
			<key>modifiers</key>
			<dict>
				<key>hitPoint</key>
				<integer>0</integer>
				<key>attack</key>
				<integer>0</integer>
				<key>attackSpeed</key>
				<integer>0</integer>
				<key>speed</key>
				<integer>-1</integer>
				<key>spawnRate</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>7</integer>
			<key>name</key>
			<string>Trap</string>
			<key>type</key>
			<integer>2</integer>
			<key>description</key>
			<string>Trap enemies in a certain area.</string>
			<key>frameName</key>
			<string>null</string>
			<key>duration</key>
			<integer>10</integer>
			<key>radius</key>
			<integer>50</integer>
			<key>cost</key>
			<integer>5</integer>
			<key>coolDown</key>
			<integer>18</integer>
			<key>modifiers</key>
			<dict>
				<key>hitPoint</key>
				<integer>0</integer>
				<key>attack</key>
				<integer>0</integer>
				<key>attackSpeed</key>
				<integer>0</integer>
				<key>speed</key>
				<integer>-1</integer>
				<key>spawnRate</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>8</integer>
			<key>name</key>
			<string>Flash</string>
			<key>type</key>
			<integer>2</integer>
			<key>description</key>
			<string>Flash your enemies, make them not able to fight back.</string>
			<key>frameName</key>
			<string>null</string>
			<key>duration</key>
			<integer>10</integer>
			<key>radius</key>
			<integer>40</integer>
			<key>cost</key>
			<integer>5</integer>
			<key>coolDown</key>
			<integer>7</integer>
			<key>modifiers</key>
			<dict>
				<key>hitPoint</key>
				<integer>0</integer>
				<key>attack</key>
				<integer>0</integer>
				<key>attackSpeed</key>
				<integer>0</integer>
				<key>speed</key>
				<integer>0</integer>
				<key>spawnRate</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>9</integer>
			<key>name</key>
			<string>Boulder</string>
			<key>type</key>
			<integer>2</integer>
			<key>description</key>
			<string>Roll a big boulder in one lane, which destroys all the enemies on it.</string>
			<key>frameName</key>
			<string>Boulder.png</string>
			<key>duration</key>
			<integer>8</integer>
			<key>radius</key>
			<integer>0</integer>
			<key>cost</key>
			<integer>5</integer>
			<key>coolDown</key>
			<integer>20</integer>
			<key>modifiers</key>
			<dict>
				<key>hitPoint</key>
				<integer>-1</integer>
				<key>attack</key>
				<integer>0</integer>
				<key>attackSpeed</key>
				<integer>0</integer>
				<key>speed</key>
				<integer>0</integer>
				<key>spawnRate</key>
				<integer>0</integer>
			</dict>
		</dict>
	</array>
</dict>
</plist>
