<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>background</key>
	<string>grassFieldBG.png</string>
	<key>unittounlock</key>
	<integer>0</integer>
	<key>itemtounlock</key>
	<integer>2</integer>
	<key>moneygained</key>
	<integer>60</integer>
	<key>levelname</key>
	<string>Level 6</string>
	<key>levelmusic</key>
	<string>examplelevelmusic.wav</string>
	<key>leveltime</key>
	<integer>120</integer>
	<key>levelPosX</key>
	<integer>608</integer>
	<key>levelPosY</key>
	<integer>132</integer>
	<key>speedFactor</key>
	<real>5</real>
	<key>gameobjects</key>
	<array>
		<dict>
			<key>Path</key>
			<integer>1</integer>
			<key>Time</key>
			<integer>5</integer>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>2</integer>
			<key>Time</key>
			<integer>10</integer>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>3</integer>
			<key>Time</key>
			<integer>17</integer>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>2</integer>
			<key>Time</key>
			<integer>21</integer>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>2</integer>
			<key>Time</key>
			<integer>30</integer>
			<key>Type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>1</integer>
			<key>Time</key>
			<integer>39</integer>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>2</integer>
			<key>Time</key>
			<integer>42</integer>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>3</integer>
			<key>Time</key>
			<integer>46</integer>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>1</integer>
			<key>Time</key>
			<integer>53</integer>
			<key>Type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>2</integer>
			<key>Time</key>
			<integer>66</integer>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>1</integer>
			<key>Time</key>
			<integer>70</integer>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>2</integer>
			<key>Time</key>
			<integer>75</integer>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>3</integer>
			<key>Time</key>
			<integer>84</integer>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>1</integer>
			<key>Time</key>
			<integer>106</integer>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>1</integer>
			<key>Time</key>
			<integer>87</integer>
			<key>Type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>3</integer>
			<key>Time</key>
			<integer>95</integer>
			<key>Type</key>
			<integer>1</integer>
		</dict>
	</array>
</dict>
</plist>
