<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>background</key>
	<string>grassFieldBG.png</string>
	<key>unittounlock</key>
	<integer>0</integer>
	<key>itemtounlock</key>
	<integer>1</integer>
	<key>moneygained</key>
	<integer>10</integer>
	<key>levelname</key>
	<string>Level 1</string>
	<key>levelmusic</key>
	<string>examplelevelmusic.wav</string>
	<key>leveltime</key>
	<integer>60</integer>
	<key>levelPosX</key>
	<integer>82</integer>
	<key>levelPosY</key>
	<integer>150</integer>
	<key>speedFactor</key>
	<integer>5</integer>
	<key>gameobjects</key>
	<array>
		<dict>
			<key>Path</key>
			<integer>3</integer>
			<key>Position</key>
			<integer>40</integer>
			<key>Time</key>
			<integer>8</integer>
			<key>Type</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>Position</key>
			<integer>80</integer>
			<key>Path</key>
			<integer>1</integer>
			<key>Time</key>
			<integer>13</integer>
			<key>Type</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>Position</key>
			<string>250</string>
			<key>Path</key>
			<integer>3</integer>
			<key>Time</key>
			<integer>2</integer>
			<key>Type</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>3</integer>
			<key>Time</key>
			<integer>12</integer>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>2</integer>
			<key>Time</key>
			<integer>6</integer>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>1</integer>
			<key>Time</key>
			<integer>22</integer>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>3</integer>
			<key>Time</key>
			<integer>35</integer>
			<key>Type</key>
			<integer>1</integer>
		</dict>
	</array>
</dict>
</plist>
