<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>background</key>
	<string>grassFieldBgWithBottom.png</string>
	<key>unittounlock</key>
	<integer>6</integer>
	<key>itemtounlock</key>
	<integer>1</integer>
	<key>moneygained</key>
	<integer>400</integer>
	<key>levelname</key>
	<string>examplelevel</string>
	<key>levelmusic</key>
	<string>examplelevelmusic.wav</string>
	<key>leveltime</key>
	<integer>60</integer>
	<key>levelPosX</key>
	<integer>770</integer>
	<key>levelPosY</key>
	<integer>300</integer>
	<key>speedFactor</key>
	<real>5</real>
	<key>gameobjects</key>
	<array>
		<dict>
			<key>Path</key>
			<integer>1</integer>
			<key>Time</key>
			<integer>1</integer>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>2</integer>
			<key>Time</key>
			<integer>8</integer>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>3</integer>
			<key>Time</key>
			<integer>15</integer>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>1</integer>
			<key>Time</key>
			<integer>22</integer>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>2</integer>
			<key>Time</key>
			<integer>29</integer>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>3</integer>
			<key>Time</key>
			<integer>36</integer>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>1</integer>
			<key>Time</key>
			<integer>43</integer>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>2</integer>
			<key>Time</key>
			<integer>50</integer>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>3</integer>
			<key>Time</key>
			<integer>57</integer>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>1</integer>
			<key>Time</key>
			<integer>64</integer>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>2</integer>
			<key>Time</key>
			<integer>71</integer>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>3</integer>
			<key>Time</key>
			<integer>78</integer>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>1</integer>
			<key>Time</key>
			<integer>85</integer>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>2</integer>
			<key>Time</key>
			<integer>92</integer>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>2</integer>
			<key>Time</key>
			<integer>0</integer>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>3</integer>
			<key>Time</key>
			<integer>10</integer>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>1</integer>
			<key>Time</key>
			<integer>20</integer>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>2</integer>
			<key>Time</key>
			<integer>30</integer>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>3</integer>
			<key>Time</key>
			<integer>40</integer>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>1</integer>
			<key>Time</key>
			<integer>50</integer>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>2</integer>
			<key>Time</key>
			<integer>60</integer>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>3</integer>
			<key>Time</key>
			<integer>70</integer>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>1</integer>
			<key>Time</key>
			<integer>80</integer>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>2</integer>
			<key>Time</key>
			<integer>90</integer>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>3</integer>
			<key>Time</key>
			<integer>5</integer>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>1</integer>
			<key>Time</key>
			<integer>15</integer>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>2</integer>
			<key>Time</key>
			<integer>25</integer>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>3</integer>
			<key>Time</key>
			<integer>35</integer>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>1</integer>
			<key>Time</key>
			<integer>45</integer>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>2</integer>
			<key>Time</key>
			<integer>55</integer>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>3</integer>
			<key>Time</key>
			<integer>65</integer>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>1</integer>
			<key>Time</key>
			<integer>75</integer>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>2</integer>
			<key>Time</key>
			<integer>85</integer>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>3</integer>
			<key>Time</key>
			<integer>95</integer>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>3</integer>
			<key>Time</key>
			<integer>3</integer>
			<key>Type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>1</integer>
			<key>Time</key>
			<integer>13</integer>
			<key>Type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>2</integer>
			<key>Time</key>
			<integer>13</integer>
			<key>Type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>3</integer>
			<key>Time</key>
			<integer>23</integer>
			<key>Type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>2</integer>
			<key>Time</key>
			<integer>33</integer>
			<key>Type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>1</integer>
			<key>Time</key>
			<integer>43</integer>
			<key>Type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>2</integer>
			<key>Time</key>
			<integer>53</integer>
			<key>Type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>3</integer>
			<key>Time</key>
			<integer>63</integer>
			<key>Type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>2</integer>
			<key>Time</key>
			<integer>73</integer>
			<key>Type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>1</integer>
			<key>Time</key>
			<integer>83</integer>
			<key>Type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>2</integer>
			<key>Time</key>
			<integer>93</integer>
			<key>Type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>1</integer>
			<key>Time</key>
			<integer>10</integer>
			<key>Type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>2</integer>
			<key>Time</key>
			<integer>25</integer>
			<key>Type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>3</integer>
			<key>Time</key>
			<integer>40</integer>
			<key>Type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>1</integer>
			<key>Time</key>
			<integer>55</integer>
			<key>Type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>1</integer>
			<key>Time</key>
			<integer>80</integer>
			<key>Type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>2</integer>
			<key>Time</key>
			<integer>95</integer>
			<key>Type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>1</integer>
			<key>Time</key>
			<integer>7</integer>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>2</integer>
			<key>Time</key>
			<integer>22</integer>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>3</integer>
			<key>Time</key>
			<integer>37</integer>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>1</integer>
			<key>Time</key>
			<integer>52</integer>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>2</integer>
			<key>Time</key>
			<integer>67</integer>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>3</integer>
			<key>Time</key>
			<integer>82</integer>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>2</integer>
			<key>Time</key>
			<integer>97</integer>
			<key>Type</key>
			<integer>4</integer>
		</dict>
	</array>
</dict>
</plist>
