<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>background</key>
	<string>GraveYardScene.png</string>
	<key>unittounlock</key>
	<integer>4</integer>
	<key>itemtounlock</key>
	<integer>0</integer>
	<key>moneygained</key>
	<integer>50</integer>
	<key>levelname</key>
	<string>Level5</string>
	<key>levelmusic</key>
	<string>examplelevelmusic.wav</string>
	<key>leveltime</key>
	<integer>120</integer>
	<key>levelPosX</key>
	<integer>423</integer>
	<key>levelPosY</key>
	<integer>128</integer>
	<key>speedFactor</key>
	<real>5</real>
	<key>gameobjects</key>
	<array>
		<dict>
			<key>Path</key>
			<integer>1</integer>
			<key>Time</key>
			<integer>8</integer>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>2</integer>
			<key>Time</key>
			<integer>6</integer>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>3</integer>
			<key>Time</key>
			<integer>12</integer>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>1</integer>
			<key>Time</key>
			<integer>18</integer>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>2</integer>
			<key>Time</key>
			<integer>26</integer>
			<key>Type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>1</integer>
			<key>Time</key>
			<integer>33</integer>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>3</integer>
			<key>Time</key>
			<integer>44</integer>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>3</integer>
			<key>Time</key>
			<integer>53</integer>
			<key>Type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>2</integer>
			<key>Time</key>
			<integer>65</integer>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>1</integer>
			<key>Time</key>
			<integer>70</integer>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>2</integer>
			<key>Time</key>
			<integer>73</integer>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>3</integer>
			<key>Time</key>
			<integer>78</integer>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>1</integer>
			<key>Time</key>
			<integer>86</integer>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>2</integer>
			<key>Time</key>
			<integer>94</integer>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>3</integer>
			<key>Time</key>
			<integer>99</integer>
			<key>Type</key>
			<integer>1</integer>
		</dict>
	</array>
</dict>
</plist>
