<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>background</key>
	<string>TownSquareScene.png</string>
	<key>unittounlock</key>
	<integer>2</integer>
	<key>itemtounlock</key>
	<integer>0</integer>
	<key>moneygained</key>
	<integer>20</integer>
	<key>levelname</key>
	<string>Level 2</string>
	<key>levelmusic</key>
	<string>examplelevelmusic.wav</string>
	<key>leveltime</key>
	<integer>90</integer>
	<key>levelPosX</key>
	<integer>227</integer>
	<key>levelPosY</key>
	<integer>175</integer>
	<key>speedFactor</key>
	<real>5</real>
	<key>gameobjects</key>
	<array>
		<dict>
			<key>Position</key>
			<integer>230</integer>
			<key>Path</key>
			<integer>1</integer>
			<key>Time</key>
			<integer>55</integer>
			<key>Type</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>Position</key>
			<integer>120</integer>
			<key>Path</key>
			<integer>1</integer>
			<key>Time</key>
			<integer>50</integer>
			<key>Type</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>Position</key>
			<integer>230</integer>
			<key>Path</key>
			<integer>1</integer>
			<key>Time</key>
			<integer>40</integer>
			<key>Type</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>Position</key>
			<integer>90</integer>
			<key>Path</key>
			<integer>1</integer>
			<key>Time</key>
			<integer>38</integer>
			<key>Type</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>Position</key>
			<integer>170</integer>
			<key>Path</key>
			<integer>1</integer>
			<key>Time</key>
			<integer>35</integer>
			<key>Type</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>Position</key>
			<integer>90</integer>
			<key>Path</key>
			<integer>1</integer>
			<key>Time</key>
			<integer>31</integer>
			<key>Type</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>Position</key>
			<integer>150</integer>
			<key>Path</key>
			<integer>1</integer>
			<key>Time</key>
			<integer>26</integer>
			<key>Type</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>Position</key>
			<integer>60</integer>
			<key>Path</key>
			<integer>1</integer>
			<key>Time</key>
			<integer>11</integer>
			<key>Type</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>3</integer>
			<key>Position</key>
			<integer>210</integer>
			<key>Time</key>
			<integer>8</integer>
			<key>Type</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>3</integer>
			<key>Time</key>
			<integer>50</integer>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>1</integer>
			<key>Time</key>
			<integer>70</integer>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>2</integer>
			<key>Time</key>
			<integer>73</integer>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>2</integer>
			<key>Time</key>
			<integer>65</integer>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>3</integer>
			<key>Time</key>
			<integer>60</integer>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>1</integer>
			<key>Time</key>
			<integer>44</integer>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>2</integer>
			<key>Time</key>
			<integer>34</integer>
			<key>Type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>3</integer>
			<key>Time</key>
			<integer>4</integer>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>1</integer>
			<key>Time</key>
			<integer>10</integer>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Path</key>
			<integer>3</integer>
			<key>Time</key>
			<integer>18</integer>
			<key>Type</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
