<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>item</key>
	<array>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>name</key>
			<string>Piggy Bank Cat</string>
			<key>description</key>
			<string>Piggy bank grows money for you.</string>
			<key>frameName</key>
			<string>Item_catProdButton_A.png</string>
			<key>duration</key>
			<integer>1000</integer>
			<key>radius</key>
			<integer>0</integer>
			<key>cost</key>
			<integer>10</integer>
			<key>coolDown</key>
			<integer>10</integer>
			<key>modifiers</key>
			<dict>
				<key>hitPoint</key>
				<real>0.5</real>
				<key>attack</key>
				<integer>0</integer>
				<key>attackSpeed</key>
				<integer>0</integer>
				<key>speed</key>
				<integer>0</integer>
				<key>spawnRate</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>8</integer>
			<key>name</key>
			<string>Piggy Bank Dog</string>
			<key>description</key>
			<string>Piggy bank grows money for you.</string>
			<key>frameName</key>
			<string>Item_dogProdButton_A.png</string>
			<key>duration</key>
			<integer>1000</integer>
			<key>radius</key>
			<integer>0</integer>
			<key>cost</key>
			<integer>10</integer>
			<key>coolDown</key>
			<integer>10</integer>
			<key>modifiers</key>
			<dict>
				<key>hitPoint</key>
				<real>0.5</real>
				<key>attack</key>
				<integer>0</integer>
				<key>attackSpeed</key>
				<integer>0</integer>
				<key>speed</key>
				<integer>0</integer>
				<key>spawnRate</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>name</key>
			<string>Catapult</string>
			<key>description</key>
			<string>Catapult stones to attack your enemies in a certain area.</string>
			<key>frameName</key>
			<string>item_CatapultButton_A.png</string>
			<key>duration</key>
			<integer>-1</integer>
			<key>radius</key>
			<integer>10</integer>
			<key>cost</key>
			<integer>40</integer>
			<key>coolDown</key>
			<integer>10</integer>
			<key>modifiers</key>
			<dict>
				<key>hitPoint</key>
				<real>0.3</real>
				<key>attack</key>
				<integer>0</integer>
				<key>attackSpeed</key>
				<integer>0</integer>
				<key>speed</key>
				<integer>0</integer>
				<key>spawnRate</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>3</integer>
			<key>name</key>
			<string>Fan</string>
			<key>description</key>
			<string>Slow down your enemies in a certain lane.</string>
			<key>frameName</key>
			<string>item_fanButton_A.png</string>
			<key>duration</key>
			<integer>10</integer>
			<key>radius</key>
			<integer>0</integer>
			<key>cost</key>
			<integer>25</integer>
			<key>coolDown</key>
			<integer>10</integer>
			<key>modifiers</key>
			<dict>
				<key>hitPoint</key>
				<integer>0</integer>
				<key>attack</key>
				<integer>0</integer>
				<key>attackSpeed</key>
				<integer>0</integer>
				<key>speed</key>
				<real>-0.5</real>
				<key>spawnRate</key>
				<integer>0</integer>
			</dict>
		</dict>
	</array>
</dict>
</plist>
