<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Cat1.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,0},{94,86}}</string>
			<key>offset</key>
			<string>{7,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,19},{94,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Cat2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,86},{94,86}}</string>
			<key>offset</key>
			<string>{7,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,20},{94,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Cat3.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,86},{94,86}}</string>
			<key>offset</key>
			<string>{7,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,20},{94,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Cat4.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,172},{94,90}}</string>
			<key>offset</key>
			<string>{8,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,19},{94,90}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Cat5.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,172},{94,88}}</string>
			<key>offset</key>
			<string>{8,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,19},{94,88}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Cat6.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{94,84}}</string>
			<key>offset</key>
			<string>{8,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,20},{94,84}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>cat1.png</string>
		<key>size</key>
		<string>{188,262}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:453b00bbb402608259d61882ed254d71$</string>
		<key>textureFileName</key>
		<string>cat1.png</string>
	</dict>
</dict>
</plist>
