<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Cat1_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{82,54}}</string>
			<key>offset</key>
			<string>{6,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,24},{82,54}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>Cat1_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,0},{82,56}}</string>
			<key>offset</key>
			<string>{5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,22},{82,56}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>Cat1_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,0},{84,62}}</string>
			<key>offset</key>
			<string>{-2,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,16},{84,62}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>Cat1_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,62},{76,60}}</string>
			<key>offset</key>
			<string>{8,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,18},{76,60}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>Cat1_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,62},{74,56}}</string>
			<key>offset</key>
			<string>{6,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,22},{74,56}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>Cat1_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,62},{74,56}}</string>
			<key>offset</key>
			<string>{6,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,22},{74,56}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>Cat1_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,122},{74,58}}</string>
			<key>offset</key>
			<string>{9,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,20},{74,58}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>Cat1_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{74,122},{74,62}}</string>
			<key>offset</key>
			<string>{8,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,18},{74,62}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>Cat1_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,122},{74,60}}</string>
			<key>offset</key>
			<string>{7,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,18},{74,60}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>Cat1_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,184},{76,60}}</string>
			<key>offset</key>
			<string>{9,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,18},{76,60}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>Cat1_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,184},{76,60}}</string>
			<key>offset</key>
			<string>{8,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,18},{76,60}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Cat1Atlas.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:abb67e3f57b80fd4a7e6e64a59b8a37f$</string>
		<key>textureFileName</key>
		<string>Cat1Atlas.png</string>
	</dict>
</dict>
</plist>
