<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>head</key>
	<dict>
		<key>fileName</key>
		<string>cat3Head.png</string>
		<key>posX</key>
		<integer>-26</integer>
		<key>posY</key>
		<integer>30</integer>
	</dict>
	<key>face</key>
	<dict>
		<key>fileName</key>
		<string>cat3FaceNormal.png</string>
		<key>attackFileName</key>
		<string>cat3FaceAttk.png</string>
		<key>cryFileName</key>
		<string>cat3FaceCry.png</string>
		<key>normalFileName</key>
		<string>cat3FaceNormal.png</string>
		<key>posX</key>
		<integer>-31</integer>
		<key>posY</key>
		<integer>24</integer>
	</dict>
	<key>body</key>
	<dict>
		<key>fileName</key>
		<string>cat3Body.png</string>
		<key>posX</key>
		<integer>0</integer>
		<key>posY</key>
		<integer>0</integer>
	</dict>
	<key>frontLeg_Left</key>
	<dict>
		<key>fileName</key>
		<string>cat3FLeg_L.png</string>
		<key>posX</key>
		<integer>-15</integer>
		<key>posY</key>
		<integer>5</integer>
	</dict>
	<key>frontLeg_Right</key>
	<dict>
		<key>fileName</key>
		<string>cat3FLeg_R.png</string>
		<key>posX</key>
		<integer>-31</integer>
		<key>posY</key>
		<integer>4</integer>
	</dict>
	<key>backLeg_Left</key>
	<dict>
		<key>fileName</key>
		<string>cat3BLeg_L.png</string>
		<key>posX</key>
		<integer>27</integer>
		<key>posY</key>
		<integer>6</integer>
	</dict>
	<key>backLeg_Right</key>
	<dict>
		<key>fileName</key>
		<string>cat3BLeg_R.png</string>
		<key>posX</key>
		<integer>23</integer>
		<key>posY</key>
		<integer>4</integer>
	</dict>
	<key>tail</key>
	<dict>
		<key>fileName</key>
		<string>cat3Tail.png</string>
		<key>posX</key>
		<integer>27</integer>
		<key>posY</key>
		<integer>4</integer>
	</dict>
</dict>
</plist>
