<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>head</key>
	<dict>
		<key>fileName</key>
		<string>cat4Head.png</string>
		<key>posX</key>
		<integer>-12</integer>
		<key>posY</key>
		<integer>25</integer>
	</dict>
	<key>face</key>
	<dict>
		<key>fileName</key>
		<string>cat4FaceNormal.png</string>
		<key>attackFileName</key>
		<string>cat4FaceAttk.png</string>
		<key>cryFileName</key>
		<string>cat4FaceCry.png</string>
		<key>normalFileName</key>
		<string>cat4FaceNormal.png</string>
		<key>posX</key>
		<integer>-21</integer>
		<key>posY</key>
		<integer>14</integer>
	</dict>
	<key>body</key>
	<dict>
		<key>fileName</key>
		<string>cat4Body.png</string>
		<key>posX</key>
		<integer>0</integer>
		<key>posY</key>
		<integer>0</integer>
	</dict>
	<key>frontLeg_Left</key>
	<dict>
		<key>fileName</key>
		<string>cat4FLeg_L.png</string>
		<key>posX</key>
		<integer>-9</integer>
		<key>posY</key>
		<integer>5</integer>
	</dict>
	<key>frontLeg_Right</key>
	<dict>
		<key>fileName</key>
		<string>cat4FLeg_R.png</string>
		<key>posX</key>
		<integer>-21</integer>
		<key>posY</key>
		<integer>7</integer>
	</dict>
	<key>backLeg_Left</key>
	<dict>
		<key>fileName</key>
		<string>cat4Lamp.png</string>
		<key>posX</key>
		<integer>20</integer>
		<key>posY</key>
		<integer>8</integer>
	</dict>
	<key>backLeg_Right</key>
	<dict>
		<key>fileName</key>
		<string>cat4Lamp.png</string>
		<key>posX</key>
		<integer>9</integer>
		<key>posY</key>
		<integer>16</integer>
	</dict>
	<key>tail</key>
	<dict>
		<key>fileName</key>
		<string>cat4Lamp.png</string>
		<key>posX</key>
		<integer>22</integer>
		<key>posY</key>
		<integer>16</integer>
	</dict>
</dict>
</plist>
