<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cat4Body.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{52,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,31}}</string>
                <key>sourceSize</key>
                <string>{52,31}</string>
            </dict>
            <key>cat4FLeg_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,3},{15,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,19}}</string>
                <key>sourceSize</key>
                <string>{15,19}</string>
            </dict>
            <key>cat4FLeg_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,3},{13,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,16}}</string>
                <key>sourceSize</key>
                <string>{13,16}</string>
            </dict>
            <key>cat4FaceAttk.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,3},{31,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,18}}</string>
                <key>sourceSize</key>
                <string>{31,18}</string>
            </dict>
            <key>cat4FaceCry.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,34},{32,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,18}}</string>
                <key>sourceSize</key>
                <string>{32,18}</string>
            </dict>
            <key>cat4FaceNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,34},{37,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,19}}</string>
                <key>sourceSize</key>
                <string>{37,19}</string>
            </dict>
            <key>cat4Head.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,53},{58,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,40}}</string>
                <key>sourceSize</key>
                <string>{58,40}</string>
            </dict>
            <key>cat4Lamp.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,53},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cat4ProcAtlas.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1c4f5d9449c8f8770fbbf703e686ed7$</string>
            <key>textureFileName</key>
            <string>cat4ProcAtlas.png</string>
        </dict>
    </dict>
</plist>
