<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>head</key>
	<dict>
		<key>fileName</key>
		<string>cat5Head.png</string>
		<key>posX</key>
		<integer>-18</integer>
		<key>posY</key>
		<integer>20</integer>
	</dict>
	<key>face</key>
	<dict>
		<key>fileName</key>
		<string>cat5FaceNormal.png</string>
		<key>attackFileName</key>
		<string>cat5FaceAttk.png</string>
		<key>cryFileName</key>
		<string>cat5FaceCry.png</string>
		<key>normalFileName</key>
		<string>cat5FaceNormal.png</string>
		<key>posX</key>
		<integer>-18</integer>
		<key>posY</key>
		<integer>13</integer>
	</dict>
	<key>body</key>
	<dict>
		<key>fileName</key>
		<string>cat5Body.png</string>
		<key>posX</key>
		<integer>0</integer>
		<key>posY</key>
		<integer>0</integer>
	</dict>
	<key>frontLeg_Left</key>
	<dict>
		<key>fileName</key>
		<string>cat5FLeg_L.png</string>
		<key>posX</key>
		<integer>-6</integer>
		<key>posY</key>
		<integer>4</integer>
	</dict>
	<key>frontLeg_Right</key>
	<dict>
		<key>fileName</key>
		<string>cat5FLeg_R.png</string>
		<key>posX</key>
		<integer>-22</integer>
		<key>posY</key>
		<integer>2</integer>
	</dict>
	<key>backLeg_Left</key>
	<dict>
		<key>fileName</key>
		<string>cat5BLeg_L.png</string>
		<key>posX</key>
		<integer>19</integer>
		<key>posY</key>
		<integer>6</integer>
	</dict>
	<key>backLeg_Right</key>
	<dict>
		<key>fileName</key>
		<string>cat5BLeg_R.png</string>
		<key>posX</key>
		<integer>9</integer>
		<key>posY</key>
		<integer>2</integer>
	</dict>
	<key>tail</key>
	<dict>
		<key>fileName</key>
		<string>cat5Tail.png</string>
		<key>posX</key>
		<integer>18</integer>
		<key>posY</key>
		<integer>14</integer>
	</dict>
</dict>
</plist>
