<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cat5BLeg_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{15,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,27}}</string>
                <key>sourceSize</key>
                <string>{15,27}</string>
            </dict>
            <key>cat5BLeg_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,3},{9,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,24}}</string>
                <key>sourceSize</key>
                <string>{9,24}</string>
            </dict>
            <key>cat5Body.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,3},{55,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,30}}</string>
                <key>sourceSize</key>
                <string>{55,30}</string>
            </dict>
            <key>cat5FLeg_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,3},{13,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,25}}</string>
                <key>sourceSize</key>
                <string>{13,25}</string>
            </dict>
            <key>cat5FLeg_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,3},{9,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,21}}</string>
                <key>sourceSize</key>
                <string>{9,21}</string>
            </dict>
            <key>cat5FaceAttk.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,33},{41,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,18}}</string>
                <key>sourceSize</key>
                <string>{41,18}</string>
            </dict>
            <key>cat5FaceCry.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,33},{39,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,20}}</string>
                <key>sourceSize</key>
                <string>{39,20}</string>
            </dict>
            <key>cat5FaceNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,53},{44,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,19}}</string>
                <key>sourceSize</key>
                <string>{44,19}</string>
            </dict>
            <key>cat5Head.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,53},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>cat5Tail.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,53},{27,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,12}}</string>
                <key>sourceSize</key>
                <string>{27,12}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cat5ProcAtlas.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cdfa3d8ea046a0c510ceae1d3195a703$</string>
            <key>textureFileName</key>
            <string>cat5ProcAtlas.png</string>
        </dict>
    </dict>
</plist>
