<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>head</key>
	<dict>
		<key>fileName</key>
		<string>cat6Head.png</string>
		<key>posX</key>
		<integer>-16</integer>
		<key>posY</key>
		<integer>21</integer>
	</dict>
	<key>face</key>
	<dict>
		<key>fileName</key>
		<string>cat6FaceNormal.png</string>
		<key>attackFileName</key>
		<string>cat6FaceAttk.png</string>
		<key>cryFileName</key>
		<string>cat6FaceCry.png</string>
		<key>normalFileName</key>
		<string>cat6FaceNormal.png</string>
		<key>posX</key>
		<integer>-17</integer>
		<key>posY</key>
		<integer>13</integer>
	</dict>
	<key>body</key>
	<dict>
		<key>fileName</key>
		<string>cat6Body.png</string>
		<key>posX</key>
		<integer>0</integer>
		<key>posY</key>
		<integer>0</integer>
	</dict>
	<key>frontLeg_Left</key>
	<dict>
		<key>fileName</key>
		<string>cat6FLeg_L.png</string>
		<key>posX</key>
		<integer>-6</integer>
		<key>posY</key>
		<integer>3</integer>
	</dict>
	<key>frontLeg_Right</key>
	<dict>
		<key>fileName</key>
		<string>cat6FLeg_R.png</string>
		<key>posX</key>
		<integer>-22</integer>
		<key>posY</key>
		<integer>3</integer>
	</dict>
	<key>backLeg_Left</key>
	<dict>
		<key>fileName</key>
		<string>cat6BLeg_L.png</string>
		<key>posX</key>
		<integer>20</integer>
		<key>posY</key>
		<integer>4</integer>
	</dict>
	<key>backLeg_Right</key>
	<dict>
		<key>fileName</key>
		<string>cat6BLeg_R.png</string>
		<key>posX</key>
		<integer>9</integer>
		<key>posY</key>
		<integer>3</integer>
	</dict>
	<key>tail</key>
	<dict>
		<key>fileName</key>
		<string>cat6Tail.png</string>
		<key>posX</key>
		<integer>22</integer>
		<key>posY</key>
		<integer>16</integer>
	</dict>
</dict>
</plist>
