<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>cat7BLeg_L.png</key>
		<dict>
			<key>frame</key>
			<string>{{3,3},{16,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,28}}</string>
			<key>sourceSize</key>
			<string>{16,28}</string>
		</dict>
		<key>cat7BLeg_R.png</key>
		<dict>
			<key>frame</key>
			<string>{{19,3},{12,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,22}}</string>
			<key>sourceSize</key>
			<string>{12,22}</string>
		</dict>
		<key>cat7Body.png</key>
		<dict>
			<key>frame</key>
			<string>{{31,3},{58,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,30}}</string>
			<key>sourceSize</key>
			<string>{58,30}</string>
		</dict>
		<key>cat7FLeg_L.png</key>
		<dict>
			<key>frame</key>
			<string>{{89,3},{15,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,25}}</string>
			<key>sourceSize</key>
			<string>{15,25}</string>
		</dict>
		<key>cat7FLeg_R.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,3},{12,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,21}}</string>
			<key>sourceSize</key>
			<string>{12,21}</string>
		</dict>
		<key>cat7FaceAttk.png</key>
		<dict>
			<key>frame</key>
			<string>{{3,33},{44,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,18}}</string>
			<key>sourceSize</key>
			<string>{44,18}</string>
		</dict>
		<key>cat7FaceCry.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,33},{44,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,20}}</string>
			<key>sourceSize</key>
			<string>{44,20}</string>
		</dict>
		<key>cat7FaceNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{3,53},{44,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,18}}</string>
			<key>sourceSize</key>
			<string>{44,18}</string>
		</dict>
		<key>cat7Head.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,53},{43,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,38}}</string>
			<key>sourceSize</key>
			<string>{43,38}</string>
		</dict>
		<key>cat7Tail.png</key>
		<dict>
			<key>frame</key>
			<string>{{90,53},{30,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,25}}</string>
			<key>sourceSize</key>
			<string>{30,25}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>cat7ProcAtlas.png</string>
		<key>size</key>
		<string>{128,128}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:fbd1ace613882eb9975c034b315d56ad$</string>
		<key>textureFileName</key>
		<string>cat7ProcAtlas.png</string>
	</dict>
</dict>
</plist>
