<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Dog1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{76,64}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{76,64}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Dog1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,0},{76,62}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{76,62}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Dog1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,0},{74,62}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{74,62}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Dog1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,64},{76,64}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{76,64}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Dog1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,64},{78,64}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{78,64}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Dog1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,64},{76,64}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{76,64}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Dog1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,128},{78,64}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{78,64}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Dog1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,128},{76,64}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{76,64}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Dog1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,128},{84,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{84,62}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Dog1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,192},{82,64}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{82,64}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Dog1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,192},{82,62}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{82,62}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Dog1Atlas.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9bfba078d98f1aca1e678232b27354d$</string>
            <key>textureFileName</key>
            <string>Dog1Atlas.png</string>
        </dict>
    </dict>
</plist>
