<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>head</key>
	<dict>
		<key>fileName</key>
		<string>dog2Head.png</string>
		<key>posX</key>
		<integer>-16</integer>
		<key>posY</key>
		<integer>20</integer>
	</dict>
	<key>face</key>
	<dict>
		<key>fileName</key>
		<string>dog2FaceNormal.png</string>
		<key>attackFileName</key>
		<string>dog2FaceAttk.png</string>
		<key>cryFileName</key>
		<string>dog2FaceCry.png</string>
		<key>normalFileName</key>
		<string>dog2FaceNormal.png</string>
		<key>posX</key>
		<integer>-20</integer>
		<key>posY</key>
		<integer>18</integer>
	</dict>
	<key>body</key>
	<dict>
		<key>fileName</key>
		<string>dog2Body.png</string>
		<key>posX</key>
		<integer>0</integer>
		<key>posY</key>
		<integer>0</integer>
	</dict>
	<key>frontLeg_Left</key>
	<dict>
		<key>fileName</key>
		<string>dog2FLeg_L.png</string>
		<key>posX</key>
		<integer>-3</integer>
		<key>posY</key>
		<integer>-3</integer>
	</dict>
	<key>frontLeg_Right</key>
	<dict>
		<key>fileName</key>
		<string>dog2FLeg_R.png</string>
		<key>posX</key>
		<integer>-20</integer>
		<key>posY</key>
		<integer>1</integer>
	</dict>
	<key>backLeg_Left</key>
	<dict>
		<key>fileName</key>
		<string>dog2BLeg_L.png</string>
		<key>posX</key>
		<integer>15</integer>
		<key>posY</key>
		<integer>2</integer>
	</dict>
	<key>backLeg_Right</key>
	<dict>
		<key>fileName</key>
		<string>dog2BLeg_R.png</string>
		<key>posX</key>
		<integer>9</integer>
		<key>posY</key>
		<integer>1</integer>
	</dict>
	<key>tail</key>
	<dict>
		<key>fileName</key>
		<string>dog2Tail.png</string>
		<key>posX</key>
		<integer>14</integer>
		<key>posY</key>
		<integer>3</integer>
	</dict>
</dict>
</plist>
