<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dog3BLeg_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{26,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,36}}</string>
                <key>sourceSize</key>
                <string>{26,36}</string>
            </dict>
            <key>dog3BLeg_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,3},{18,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,28}}</string>
                <key>sourceSize</key>
                <string>{18,28}</string>
            </dict>
            <key>dog3Body.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,39},{84,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,41}}</string>
                <key>sourceSize</key>
                <string>{84,41}</string>
            </dict>
            <key>dog3FLeg_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,39},{23,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,30}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>dog3FLeg_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,80},{20,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,27}}</string>
                <key>sourceSize</key>
                <string>{20,27}</string>
            </dict>
            <key>dog3FaceAttk.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,80},{38,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,29}}</string>
                <key>sourceSize</key>
                <string>{38,29}</string>
            </dict>
            <key>dog3FaceCry.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,80},{43,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,45}}</string>
                <key>sourceSize</key>
                <string>{43,45}</string>
            </dict>
            <key>dog3FaceNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,125},{33,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,13}}</string>
                <key>sourceSize</key>
                <string>{33,13}</string>
            </dict>
            <key>dog3Head.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,125},{61,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,45}}</string>
                <key>sourceSize</key>
                <string>{61,45}</string>
            </dict>
            <key>dog3Tail.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,125},{11,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,15}}</string>
                <key>sourceSize</key>
                <string>{11,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dog3ProcAtlas.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1708da43e7018636976054169fac74a9$</string>
            <key>textureFileName</key>
            <string>dog3ProcAtlas.png</string>
        </dict>
    </dict>
</plist>
