<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dog5BLeg_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>dog5BLeg_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,3},{13,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,22}}</string>
                <key>sourceSize</key>
                <string>{13,22}</string>
            </dict>
            <key>dog5Body.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,3},{63,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,35}}</string>
                <key>sourceSize</key>
                <string>{63,35}</string>
            </dict>
            <key>dog5FLeg_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,3},{16,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,30}}</string>
                <key>sourceSize</key>
                <string>{16,30}</string>
            </dict>
            <key>dog5FLeg_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,38},{16,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,26}}</string>
                <key>sourceSize</key>
                <string>{16,26}</string>
            </dict>
            <key>dog5FaceAttk.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,38},{25,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,20}}</string>
                <key>sourceSize</key>
                <string>{25,20}</string>
            </dict>
            <key>dog5FaceCry.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,38},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>dog5FaceNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,38},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>dog5Head.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,64},{48,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,39}}</string>
                <key>sourceSize</key>
                <string>{48,39}</string>
            </dict>
            <key>dog5Tail.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,64},{34,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,17}}</string>
                <key>sourceSize</key>
                <string>{34,17}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dog5ProcAtlas.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:826612b232dce6a26414b83b8b9ba488$</string>
            <key>textureFileName</key>
            <string>dog5ProcAtlas.png</string>
        </dict>
    </dict>
</plist>
