<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>head</key>
	<dict>
		<key>fileName</key>
		<string>dog6Head.png</string>
		<key>posX</key>
		<integer>-18</integer>
		<key>posY</key>
		<integer>23</integer>
	</dict>
	<key>face</key>
	<dict>
		<key>fileName</key>
		<string>dog6FaceNormal.png</string>
		<key>attackFileName</key>
		<string>dog6FaceAttk.png</string>
		<key>cryFileName</key>
		<string>dog6FaceCry.png</string>
		<key>normalFileName</key>
		<string>dog6FaceNormal.png</string>
		<key>posX</key>
		<integer>-25</integer>
		<key>posY</key>
		<integer>15</integer>
	</dict>
	<key>body</key>
	<dict>
		<key>fileName</key>
		<string>dog6Body.png</string>
		<key>posX</key>
		<integer>0</integer>
		<key>posY</key>
		<integer>0</integer>
	</dict>
	<key>frontLeg_Left</key>
	<dict>
		<key>fileName</key>
		<string>dog6FLeg_L.png</string>
		<key>posX</key>
		<integer>-11</integer>
		<key>posY</key>
		<integer>2</integer>
	</dict>
	<key>frontLeg_Right</key>
	<dict>
		<key>fileName</key>
		<string>dog6FLeg_R.png</string>
		<key>posX</key>
		<integer>-27</integer>
		<key>posY</key>
		<integer>2</integer>
	</dict>
	<key>backLeg_Left</key>
	<dict>
		<key>fileName</key>
		<string>dog6BLeg_L.png</string>
		<key>posX</key>
		<integer>23</integer>
		<key>posY</key>
		<integer>8</integer>
	</dict>
	<key>backLeg_Right</key>
	<dict>
		<key>fileName</key>
		<string>dog6BLeg_R.png</string>
		<key>posX</key>
		<integer>11</integer>
		<key>posY</key>
		<integer>3</integer>
	</dict>
	<key>tail</key>
	<dict>
		<key>fileName</key>
		<string>dog6Tail.png</string>
		<key>posX</key>
		<integer>23</integer>
		<key>posY</key>
		<integer>13</integer>
	</dict>
</dict>
</plist>
